.popup__dialog_profile_image {
  max-width: 75vw;
  max-height: 75vh;
  background-color: transparent;
  padding: 0;
  border-radius: none;
}
@media screen and (max-width:768px) {
  .popup__dialog_profile_image {
    padding: 0;
    max-width: calc(75vw + (20px * 2));
  }
}