.modal__dialog {
  position: relative;
  max-width: 430px;
  background-color: #ffffff;
  padding: 34px 36px 37px;
  border-radius: 10px;
}
@media screen and (max-width:768px) {
  .modal__dialog {
      max-width: calc(282px - (22px * 2));
      padding: 25px 22px;
  }
}