.card__item-like {
  background: .0;
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
  border: none;
}

.card__item-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
.card__item-like:focus {
  outline: 0;
}

.card__item-like:active {
  background-image: url(../../../images/likeActive.svg);
}